In [15]:
print('this','is a seperator',sep='->lol<-')

this->lol<-is a seperator

In [16]:
print('it seperates','strings',sep=' 2 ')

it seperates 2 strings

In [17]:
print('wsg world')

wsg world

In [18]:
name='Tanishq'
branch='CSM'
age=69-51
print('My name is',name)
print('My branch is',branch)
print('My age is',age)

My name is Tanishq
My branch is CSM
My age is 18

In [19]:
5+5-5

5

In [20]:
475+6457574+6435-4324

6460160

In [21]:
3526432*6735/3-398

7916839442.0

In [22]:
5643//22 #single slash gives float result whereas double slash gives int result

256

In [23]:
54325**2 #exponentiation

2951205625

In [24]:
2**5

32

In [25]:
X=543.67
Y=345.354
z=X*Y
lol='lol'
num=6
print(z)
print(type(z))
print(type(num))
print(type(lol))

187758.60917999997
<class 'float'>
<class 'int'>
<class 'str'>

In [26]:
com=356+124j
print(type(com))

<class 'complex'>

In [27]:
my_number = 7075554543  # underscore is used instead of spaces for identifiers
# Hide the last 4 digits (4543) under stars
hidden_number = str(my_number)[:-4] + '****'
print(hidden_number)

707555****

In [28]:
my number=9-9090 #dont use spaces
print(my number)

SyntaxError: invalid syntax (1084784703.py, line 1)

In [ ]:
_canuputunderscorehere=1 #identifiers can be started using underscores
print(_canuputunderscorehere)

In [ ]:
1canustartwnum=0 #but shouldnt start w number
print(1canustartwnum)

In [ ]:
cani$use! = 0 #cannot use special characters ex:& !
print(cani$use!)

In [1]:
continue = 1 #dont use keywords
print(continue)

SyntaxError: invalid syntax (2907786825.py, line 1)

In [2]:
MyName = 'Tanishq' #identifiers are case sensitive
myname = 'nigga'
print(MyName)
print(myname)

Tanishq
nigga

In [3]:
F=D=J=43 #multiple assignment
print(F)
print(D)
print(J)

43
43
43

In [4]:
# Multiple assignment: assign values to several variables in one line
dam, dang, dayum = 69, 420, 720
print(dam)
print(dang)
print(dayum)

69
420
720

In [5]:
# Multiple assignment: assign values to several variables in one line
a, b, c = 30, 40, 70
print(a)
print(b)
print(c)

30
40
70

In [6]:
ppl1 = 'me'
ppl2 = 'you'

# String concatenation: combines two strings
print(ppl1 + ppl2)  # Output: 'meyou'

# String repetition: repeats the string specified number of times
print(ppl1 * 4 + ppl2 * 2)  # Output: 'memememeyouyou'

meyou
memememeyouyou

In [7]:
def your_demise(): # This defines a function named your_demise
    x = 43 # x is a local variable, only accessible inside this function
    print(x)
your_demise() # Calls the function your_demise

43

In [8]:
def simple_calc(x, y, operation):
	if operation == '+':
		return x + y
	elif operation == '-':
		return x - y
	elif operation == '*':
		return x * y
	elif operation == '/':
		return x / y
	else:
		return "Invalid operation"

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")

result = simple_calc(x, y, operation)
print("Result:", result)

Result: 504